In [1]:
### Import project data into dataframe
import pandas as pd
df = pd.read_csv('../data/raw/combine_data.csv')
df.head()

,Player,Pos,Ht,Wt,Forty,Vertical,BenchReps,BroadJump,Cone,Shuttle,Year,Pfr_ID,AV,Team,Round,Pick
0,John Abraham,OLB,76,252,4.55,NaN,NaN,NaN,NaN,NaN,2000,AbraJo00,26.0,New York Jets,1.0,13.0
1,Shaun Alexander,RB,72,218,4.58,NaN,NaN,NaN,NaN,NaN,2000,AlexSh00,26.0,Seattle Seahawks,1.0,19.0
2,Darnell Alford,OT,76,334,5.56,25.0,23.0,94.0,8.48,4.98,2000,AlfoDa20,0.0,Kansas City Chiefs,6.0,188.0
3,Kyle Allamon,TE,74,253,4.97,29.0,NaN,104.0,7.29,4.49,2000,NaN,0.0,NaN,NaN,NaN
4,Rashard Anderson,CB,74,206,4.55,34.0,NaN,123.0,7.18,4.15,2000,AndeRa21,6.0,Carolina Panthers,1.0,23.0

In [3]:
df

,Player,Pos,Ht,Wt,Forty,Vertical,BenchReps,BroadJump,Cone,Shuttle,Year,Pfr_ID,AV,Team,Round,Pick
0,John Abraham,OLB,76,252,4.55,NaN,NaN,NaN,NaN,NaN,2000,AbraJo00,26.0,New York Jets,1.0,13.0
1,Shaun Alexander,RB,72,218,4.58,NaN,NaN,NaN,NaN,NaN,2000,AlexSh00,26.0,Seattle Seahawks,1.0,19.0
2,Darnell Alford,OT,76,334,5.56,25.0,23.0,94.0,8.48,4.98,2000,AlfoDa20,0.0,Kansas City Chiefs,6.0,188.0
3,Kyle Allamon,TE,74,253,4.97,29.0,NaN,104.0,7.29,4.49,2000,NaN,0.0,NaN,NaN,NaN
4,Rashard Anderson,CB,74,206,4.55,34.0,NaN,123.0,7.18,4.15,2000,AndeRa21,6.0,Carolina Panthers,1.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6213,Chris Worley,ILB,74,238,4.86,29.5,15.0,NaN,NaN,NaN,2018,WorlCh00,0.0,NaN,NaN,NaN
6214,Isaiah Wynn,G,75,313,NaN,NaN,NaN,NaN,NaN,NaN,2018,WynnIs00,0.0,NaN,NaN,NaN
6215,Isaac Yiadom,CB,73,190,4.52,NaN,8.0,120.0,NaN,4.18,2018,YiadIs00,0.0,NaN,NaN,NaN
6216,Kenny Young,ILB,73,236,4.60,36.0,23.0,117.0,7.38,4.48,2018,NaN,0.0,NaN,NaN,NaN
6217,Trevon Young,EDGE,76,258,4.78,33.0,25.0,114.0,6.99,4.40,2018,YounTr00,0.0,NaN,NaN,NaN